apiVersion: apps/v1
kind: Deployment
metadata:
  name: react-frontend
  namespace: k8s-voteapp
spec:
  replicas: 2
  selector:
    matchLabels:
      app: react-frontend
  template:
    metadata:
      labels:
        app: react-frontend
    spec:
      containers:
      - name: react-frontend
        image: chidhvilas/frontend:latest
        ports:
        - containerPort: 80
        env:
        - name: REACT_APP_BACKEND_URL
          value: "http://go-backend-service.k8s-voteapp.svc.cluster.local:8080"
---
apiVersion: v1
kind: Service
metadata:
  name: react-frontend-service
  namespace: k8s-voteapp
spec:
  selector:
    app: react-frontend
  ports:
    - protocol: TCP
      port: 80
      targetPort: 80
  type: LoadBalancer
